@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Work+Sans:wght@300&display=swap");
@import "~reset-css/reset.css";


/* Generate css for each transition sequence */
$seq: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14;

@each $i in $seq {

    .seq#{$i}-leave{
        opacity: 1;
    }

    .seq#{$i}-leave-active {
        transition: opacity 1s linear;
    }

    .seq#{$i}-leave-to {
        opacity: 0;
    }

    .seq#{$i}-enter {
        opacity: 1;
    }

    .seq#{$i}-enter-active {
        transition: opacity 1s linear;
    }

    .seq#{$i}-enter-to {
        opacity: 1;
    }

}
/* Generate css for each transition sequence */

:root {
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}

body {
  --page-background: #fff;

  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  overflow: hidden;
  background-color: var(--page-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

header {
  --base-color: #fff;

  width: calc(100% - 28vw);
  height: 100vh;
  color: var(--base-color);
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
  padding: 0 14vw;
}

h1 {
  font-size: 5vw;
  margin-bottom: 2.5vh;
  line-height: 1.4;
}

h2 {
  text-align: center;
  font-size: 4vw;
  line-height: 1.4;
}

p {
  font-size: 2.5vw;
  line-height: 1.4;
  opacity: 0.8;
}

.text {
  margin: 50px auto;
}
.buttons a {
  text-decoration: none;
  font-size: 2.22vw;
  padding: 2vw 2vw;
  margin: 4vw 7vw;
  display: inline-block;
  text-align: center;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 10px;
  background-color: #dadada81;
  opacity: 0.6;
  transition: 0.3s;
  color: rgb(197, 197, 197);
  box-sizing: border-box;
  transition: 0.5s;
  min-width: 200px;
  max-width: 200px;
}

.buttons a:hover {
  opacity: 1;
  background: #444444; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d86262, #8d1d1d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    center,
    #d86262,
    #8d1d1d
  );
  & img {
    width: 70px;
    opacity: 1;
    transition: 0.5s;
  }
}

.separator {
  height: 200px;
}

.home-once {
  opacity: 0;
}

.home-once-active {
  transition: opacity 1s linear;
}

.home-once-in {
  opacity: 1;
}

header {
&.is-home {
  background-color: #000000;
}

.buttons {
  display: flex;
  justify-content: center;
}

&.default-seq {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #0e0e0f, #92131e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5a0f16,
    #24243e,
    #92131e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cover img {
  position: absolute !important;
  width: 300px;
  right: 0px;
  top: 50vh;
}

.cover-intro img {
  z-index: 0;
  position: absolute !important;
  top: -100px;
  right: 100px;
}

.icon img {
  width: 70px;
  opacity: 1;
}

.icon, .icon * {
  font-size: 70px;
}

.content {
  z-index: 100;
  transition: all 0.3s ease-out;
  opacity: 1;
  transform: translateY(0);
}

.text { 
  margin: 4rem auto;
  text-align: center;
}