/* seq1 out current container */

.seq1-leave {
    opacity: 1;
}

.seq1-leave-active {
    transition: opacity 1s linear;
}

.seq1-leave-to {
    opacity: 0;
}

.seq1-enter {
    opacity: 0;
}

.seq1-enter-active {
    transition: opacity 1s linear;
}

.seq1-enter-to {
    opacity: 1;
}
