/* seq2 out current container */

.seq2-leave {
    opacity: 1;
}

.seq2-leave-active {
    transition: opacity 1s linear;
}

.seq2-leave-to {
    opacity: 0;
}

.seq2-enter {
    opacity: 0;
}

.seq2-enter-active {
    transition: opacity 1s linear;
}

.seq2-enter-to {
    opacity: 1;
}
